body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
:root {
    --brand-color: #2196F3;
    --primary-color: #757575;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    /* border-style: dotted; */
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-1 {
    padding-top: 94px;
    padding-bottom: 30px;
}
.section-2,
.section-3,
.section-5 {
    padding-top: 0px;
    padding-bottom: 94px;
}
.section-4 {
    background-color: #AFB1B8;
    width: 1600px;
    margin: 0 auto;
    background-position: center center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.link-studio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.link-studio > span {
    color: var(--brand-color);
}
.contacts-down {
    background-color: #2F303A;
    width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background-position: center center;
    display: flex;
}
.cont-foot {
    display: inline-block;
    padding: 0px;
}
.cont-foot:first-child {
    margin-top: 60px;
    margin-right: 70px;
    margin-bottom: 60px;
}
.cont-foot:last-child {
    margin-top: 72px;
    margin-left: 78px;
}
.header-nav {
    display: flex;
    list-style: none;
    justify-content: left;
    align-items: center;
    /* padding: 0px;
    margin: 0 auto; */
}
.site-nav {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 32px 0px 32px 93px;
}
.site-contacts {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 32px 0px 32px 255px;
    text-align: right;
}
.site-nav .link {
    text-decoration: none;
    color: #212121;
    /* margin-left: 46px; */
    /* padding-bottom: 28px; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* border: 0px solid;
    border-bottom: 4px solid;
    border-radius: 2px; */
}
.link::after {
    content: "";
    display: inline-block;
    background: #212121;
    width: 100%;
    /* position: relative;
    right: 0; */
    /* height: 4px; */
    /* margin: 0 auto; */
    margin-bottom: -37px;
    padding: 2px;
    border-radius: 2px;
    /* text-align: right; */
    visibility: hidden;
}
.link {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: 46px;
    text-align: center;
}
.link:hover::after {
    background: var(--brand-color);
    visibility: visible;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pointer {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    border: none;
}
.pointer-port {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: 8px;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: none;
}
.pointer-port:hover,
.pointer-port:focus,
.pointer-port:active {
    color: #FFFFFF;
    background-color: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section-one,
.main-section-two,
.main-section-three,
.port-section-button {
    display: flex;
    list-style: none;
}
.main-section-one {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-two {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-three {
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}
.main-section-detail {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    min-height: 100%;
}
.main-section-caption {
    margin: 0 auto;
    padding: 0%;
    text-align: center;
    min-height: 100%; 
}
.port-section-images {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    padding: 0px;
}
.post-section-item {
    flex-basis: calc((100% - 60px) / 3);
    padding: 0%;
}
.post-section-detail {
    margin: 0%;
    padding: 0%;
    cursor: pointer; 
}
.post-section-detail:hover,
.post-section-detail:focus,
.post-section-detail:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transform: translatex(0); */
}
.post-section-caption {
    margin: 0 auto;
    padding: 20px 24px 20px 24px;
    text-align: left;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
.port-section-button {
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 50px;
}
.card-image-figure {
    display: inline-block;
    margin: 0px;
}
.card-image-no-gap {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box {
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .box:hover .overlay {
    transform: translatex(0);
  }
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-item-hidden {
    font-weight: 400;
    font-size: 18px;
    line-height: 1,56;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
    color: #FFFFFF;
  }
.card-image-figcaprion {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0 auto;
    margin-top: -68px;
    z-index: 999;
}
.thumb {
    height: 260px;
    width: 270px;
}
.thumb > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-text:nth-child(-n+3) {
    margin-right: 30px;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    text-align: justify;
}
.main-header {
    border-bottom: 1px solid #ECECEC;
}
.main-article {
    display: inline-block;
    width: 1600px;
    margin: 0 auto;
    padding: 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/goit-markup-hw-04/images/main-page-team.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    min-height: 100%;
}
.title-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 200px;
    color: #FFFFFF;
}
.title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.link-main {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-right: 50px;
    padding: 0px;
    text-align: center;
    color: #757575;
}
.link-main:hover,
.link-main:focus,
.link-main:active {
    color: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px;
    color: #212121;
}
.main-item-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 0px;
}
.text-num {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-left: 10px;
}
.text-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #FFFFFF;
}
.text-down > span {
    color: rgba(109, 101, 101, 0.6);
}
.main-item-port {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.main-item-val {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.icon-smartphone {
    width: 10px;
    height: 16px;
    margin-left: 30px;
}
.icon-envelope {
    width: 16px;
    height: 12px;
    margin: 0%;
    margin-right: 10px;
    cursor: pointer;
}
.icon-envelope:hover {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-antenna-1,
.icon-clock-1,
.icon-diagram-1,
.icon-astronaut-1 {
    width: 70px;
    height: 70px;
    margin: 25px 100px 25px 100px;
}
.rectangle {
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }
  .social-media-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0%;
  }
  .circle {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle:hover,
  .circle:focus,
  .circle:active {
    background-color: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .circle:nth-child(-n+3) {
    margin-right: 10px;
  }
  .icon-instagram-2,
  .icon-twitter-1,
  .icon-facebook-1,
  .icon-linkedin-1 {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    cursor: pointer;
    text-align: justify;
    padding: 0px;
    margin: 0 auto;
  }
  .icon-instagram-2:hover,
  .icon-instagram-2:focus,
  .icon-instagram-2:active {
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-twitter-1:hover,
  .icon-twitter-1:focus,
  .icon-twitter-1:active {
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-facebook-1:hover,
  .icon-facebook-1:focus,
  .icon-facebook-1:active {
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-linkedin-1:hover,
  .icon-linkedin-1:focus,
  .icon-linkedin-1:active {
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-section-clients {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
  }
  .icon-client-1,
  .icon-client-2,
  .icon-client-3,
  .icon-client-4,
  .icon-client-5,
  .icon-client-6 {
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    cursor: pointer;
  }
  .icon-client-1:hover,
  .icon-client-1:focus,
  .icon-client-1:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client-2:hover,
  .icon-client-2:focus,
  .icon-client-2:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client-3:hover,
  .icon-client-3:focus,
  .icon-client-3:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client-4:hover,
  .icon-client-4:focus,
  .icon-client-4:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client-5:hover,
  .icon-client-5:focus,
  .icon-client-5:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-client-6:hover,
  .icon-client-6:focus,
  .icon-client-6:active {
    fill: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px;
    margin-bottom: 20px;
  }
  .link-studio-footer {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .link-studio-footer > span {
    color: var(--brand-color);
}
.rectangle-clients {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
}
.rectangle-clients:hover,
.rectangle-clients:focus,
.rectangle-clients:active {
    border-color: var(--brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icons-footer {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0%;
}
.main-form-text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.main-form-data {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding-left: 16px;
}
.main-form-button {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 76px 10px 42px;
    margin-left: 12px;
}
.feedback-text {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
}
.feedback-text:hover,
.feedback-text:focus,
.feedback-text:active {
    outline: none;
    border: 1px solid #2196F3;
}
.feedback-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    /* padding: 12px 16px; */
}
.feedback-data-contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.feedback-text-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.icon-person,
.icon-phone,
.icon-email {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 29px;
    /* transform: translateY(-50%); */
    /* color: silver; */
}
.icon-send {
    width: 24px;
    height: 24px;
    position: relative;
    left: 148px;
    top: 7px;
    fill: #FFFFFF;
}
/* .icon-phone {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 33px;
}
.icon-email {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 33px;
} */
.feedback-data-form {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    margin-top: 4px;
}
.feedback-data-form:hover .icon-person, 
.feedback-data-form:focus .icon-person,
.feedback-data-form:active .icon-person {
    fill: #2196F3;
}
.feedback-data-form:hover, 
.feedback-data-form:focus,
.feedback-data-form:active {
    outline: none;
    border: 1px solid #2196F3;
}
.feedback-data-checkbox {
    /* display: block; */
    /* margin-left: 54px; */
    /* margin-right: 54px; */
    margin: 0 auto;
    margin-left: 50px;
    /* padding-top: 55px; */
}
.feedback-data-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-top: -22px;
    /* margin-left: 7px; */
    padding: 0px;
}
.feedback-data-regular > span {
    color: #2196F3;
    text-decoration: underline;
}
.feedback-button {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 76px 10px 76px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}
.form-input-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}