@import "./utils/vars";
@import "./components/navigation";



body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}
.main-header {
    border-bottom: 1px solid #ECECEC;
}