@import "./utils/vars";
@import "./components/logo";
@import "./components/navigation";
@import "./components/article";
@import "./components/section-one";
@import "./components/section-two";
@import "./components/section-three";



body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}
.main-header {
    border-bottom: 1px solid $header-color;
}
.section-one {
    padding-top: 94px;
    padding-bottom: 30px;
}
.section-two,
.section-three {
    padding-top: 0px;
    padding-bottom: 94px;
}